<script type="module" src="@Assets["Components/Layout/ReconnectModal.razor.js"]"></script>

<dialog id="components-reconnect-modal" data-nosnippet>
    <div class="components-reconnect-container">
        <div class="components-rejoining-animation" aria-hidden="true">
            <div></div>
            <div></div>
        </div>
        <p class="components-reconnect-first-attempt-visible">
            Tentative de reconnexion au serveur
        </p>
        <p class="components-reconnect-repeated-attempt-visible">
            Connexion échouée, prochaine tentative dans <span id="components-seconds-to-next-attempt"></span> secondes.
        </p>
        <p class="components-reconnect-failed-visible">
            Reconnexion échouée.<br />Veuillez réessayer ou rafraichir la page.
        </p>
        <button id="components-reconnect-button" class="components-reconnect-failed-visible">
            Réessayer
        </button>
        <p class="components-pause-visible">
            La session a été mise en pause par le serveur.
        </p>
        <button id="components-resume-button" class="components-pause-visible">
            Continuer
        </button>
        <p class="components-resume-failed-visible">
            La session n'a pas été récupérée correctement.<br />Veuillez recharger la page
        </p>
    </div>
</dialog>
